* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.header {
    background-color: rgb(180, 85, 85);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;/
}

.menu_right {
    display: flex;
    justify-content: flex-end;
    margin-right: 0px;
}

.menu {
    list-style: none;
    display: flex;
    width: 100%;
    /* Le menu occupe toute la largeur */
    padding: 0;
    margin: 0;

}

.menu .right-item:not(:first-child) {
    margin-left: 20px;
    margin-right: 20px;
}



.voiture ul {

    border: solid 1px black;
    list-style-type: none;
}

.vitrine_voiture {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    list-style: none;
}