<!-- header.ting -->
  <header>
        <ul>
            <li><button><a href="/home">home</button></a></li>
            <li><button><a href="/inscription">inscription</button></a></li>
            <li><button><a href="/Myaccount">Myaccount</button></a></li>
        </ul>
    </hea