{% extends "base.html.twig" %}
{% block header %}
<div class="header">
    <ul>
        <li><button><a href="/home">home</button></a></li>
        <li><button><a href="/inscription">inscription</button></a></li>
        <li><button><a href="/Myaccount">Myaccount</button></a></li>
        <li><button><a href=" /connexion">Myaccount</button></a></li>
        /connexion

    </ul>
</div>
{% endblock %}
